.App {
  
}

/*************************/

input {
  padding: 10px;
  width: 400px;
}

* {
  box-sizing: border-box;
}

.main-container {
  width: 80%;
  margin-left: 10%;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

.main-search {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

/*************************/

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin-top: 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  cursor: pointer;
  /* margin: 0 4px; */
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

a.no-click-pagination {
  pointer-events: none;
  opacity: 0.8
}